/* Css3 loader animation (thanks to w3schools.com) */

#loader {
  position: absolute;
  left: 45%;
  top: 25%;
  z-index: 1;
  border: 16px solid #bcbbbb;
  border-top: 16px solid #777474;
  border-bottom: 16px solid #777474;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

@-ms-keyframes spin {
  0% {-ms-transform: rotate(0deg);}
  100% {-ms-transform: rotate(360deg);}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* Basic css */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img,
embed,
object,
video {
  max-width: 100%;
}

body,
div,
ul,
li,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #777474;
}

h1 {
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
  /*18px with min-width: 400px*/
  
  font-weight: bold;
  color: #777474;
}

h2 {
  font-variant: small-caps;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 0 auto;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
}

p {
  margin: 0;
  padding: 5px;
}

a {
  font-size: 11px;
  font-style: italic;
}

a:link {
  color: blue;
}

a:visited {
  color: #6C6CF5;
}

ul {
  list-style-type: none;
}

span {
  padding: 5px;
}

.quote {
  font-size: 12px;
  font-style: italic;
}

.white {
  color: white;
}

.caps {
  font-variant: small-caps;
  font-family: "Arial Black";
  text-shadow: 1px 1px #bcbbbb;
}

.bold {
  font-size: 11px;
  font-weight: bold;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.link {
  min-width: 60px;
  min-height: 48px;
}

.asLink {
  font-size: 12px;
  font-style: italic;
  color: blue;
  text-decoration: underline;
}

.asClicked {
  font-size: 12px;
  font-style: italic;
  color: #DBDBF9;
  text-decoration: underline;
}

.hidden {
  display: none;
}


/*
*Preparing for column use (only in section Header)*
*/

.row {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.col4 {
  width: 33.33%;
}

.col8 {
  width: 66.67%;
}
/*
*
*Main Section: Header*
*
*/

#header {
  width: auto;
  padding-right: 10px;
  border-bottom-style: solid;
  border-bottom-color: #bcbbbb;
  background-color: #f4f8f9;
}

.logo-box {
  max-height: 100%;
  max-width: 100%;
  padding: 5px 10px 0px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
/*flex-direction to 'row' and align-items to 'center' beyond 580px min-width*/

#logo1 {
  height: 35px;
  width: 45px;
  padding: 0 0 10px 0;
  flex: 0 1 auto;
}

#logo2 {
  height: 45px;
  width: 45px;
  padding: 10px;
  flex: 0 1 auto;
}

#logo3 {
  height: 45px;
  width: 45px;
  padding: 10px;
  flex: 0 1 auto;
}
/*logos resized with media querries*/

.myname {
  padding: 10px 0px 0px;
  text-align: right;
  color: #BCBBBB;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 3px;
  text-shadow: 2px 2px 1px #777474;
}

.sono {
  padding: 3px 3px 10px;
  text-align: right;
}

/*
* P2 addition: append contacts (in the DOM: in section 'featured')
*/
.flexRow {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexContacts {
  justify-content: center;
  padding: 10px 20px;
}

.flexitemContacts {
  padding: 0 10px 0 0;
}

#topContacts {
  border-top-style: solid;
  border-top-color: #bcbbbb;
}

/*
*
*Section: Main Pic*
*
*/

#bigpic {
  max-width: 100%;
  max-height: 300px;
  margin: 15px auto 15px;
  padding: 5px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted600w.JPG);
  background-size: cover;
  background-origin: border-box;
  background-position: right top;
}
/*padding to 10px beyond 490px min-width*/
/*srcset-strategy replaced with media querries, below, for background image*/

#bigpicContent {
  display: flex;
  display: -webkit-flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  max-height: 300px;
  margin: 0;
}

#biopic {
  max-width: 100%;
  max-height: 300px;
  margin: 0;
  padding-top: 2px;
  flex: 0 1 auto;
  }

#my-picture {
  display: block; /*inline aligns left, block takes whole width*/
  margin: 0 auto;
  max-height: 300px;
  width: 35%;
  border: 2px solid white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/*Including 'welcomeText'*/

#welcome {
  max-width: 100%;
  max-height: 300px;
  margin: 0;
  padding: 2px 5px;
  flex: 0 1 auto;
}

/*
*
* Main Section: Featured*
* (2 main breakpoints adjust to 2-row and 4-row display for the*
* main <div id="featuredItems"> (see below))*
*
*/

#featured {
  max-width: 100%;
  border-top-style: solid;
  border-top-color: #bcbbbb;
  border-bottom-style: solid;
  border-bottom-color: #bcbbbb;
  background-color: #f4f8f9;
  padding-bottom: 20px;
}

.titleBox {
  margin: auto;
  padding: 15px 10px;
}

/*
* 1) in current use: skills*
*/

#skills {
  border-bottom-style: solid;
  border-bottom-color: #bcbbbb;
}

/*
* 2) in current use: Featured Items*
*/

#featuredItems {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-box {
  width: 75%;
  padding: 10px 5px;
  margin: 5px 15px;
  border: 1px solid;
  border-color: #777474;
  background-color: white;
}

.item-pic {
  max-height: 100%;
  width: 65vw;
  margin: 0 auto;
  padding: 10px 10px 5px 10px;
}

.picture {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.item-name {
  margin: 0 25px;
  padding-top: 2px;
}

/*
* 3) in current use: Items Display*
*/

#itemsDisplay {
  padding: 0;
  margin: 0;
}

.displayCanvas {
  max-width: 100%;
  height: 400px;
  margin: 10px 0 30px 0;
  border: 1px solid;
  overflow: auto;
}

.displayBox {
  padding: 10px 20px;
  border: 1px solid;
  border-color: #777474;
  background-color: white;
}

.displayFirstdiv {
  padding-top: 10px;
}

.displayMiddlediv {
  padding: 4px 0 0 5px;
}

.displayLastdiv {
  padding: 0 0 10px 5px;
}

.removeFloat {
  clear: both;
}

.boxReadmore {
  padding-top: 10px;
}

.readMoreless {
  max-width: 95%;
  height: 50px;
  margin: 10px auto;
}

.closeReadmore {
  max-width: 95%;
  height: 50px;
  margin: 10px auto;
}

.flexDisplay {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexdisplay-box {
  width: 100%;
  padding: 20px 20px 10px 20px;
  margin: 10px 0 20px 0;
  border: 1px solid;
  border-color: #777474;
  background-color: #f4f8f9;
}

.itemdisplay-pic {
  max-width: 80%;
}

.itemdisplay-text {
  max-width: 100%;
}

#mapDiv {
  height: 300px;
  width: 100%;
}

#map {
  display: block;
  height: 100%;
  margin: 1px;
}


/*
*
*Footer Section: Introdced for P2 'Let's connect'*
*(breakpoints??)*
*/

#footer {
  margin: 10px 0 10px 0;
  padding: 10px 0 5px 0;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted600w.JPG);
  background-size: cover;
  background-origin: border-box;
  background-position: right center;
  border-bottom-style: solid;
  border-bottom-color: #bcbbbb;
}

.footerTitle {
  padding: 0;
}

/*
*
*Media Querries*
*
*/

@media screen and (min-width: 400px) {
  h1 {
    font-size: 18px;
  }
  .myname {
    font-size: 36px;
  }
}
/*
*@ Section Header
*/

@media screen and (min-width: 490px) {
  #header {
    padding-right: 20px;
  }
  .logo-box {
    flex-direction: row;
    align-items: center;
  }
  #logo1 {
    padding: 0px;
    margin: 0 10px;
  }
  ..flexContacts {
    justify-content: space-around;
  }
  .bold {
    font-size: 12px;
  }
  #topContacts {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 800px) {
  #logo1 {
    height: 88px;
    width: 88px;
    padding: 18px;
  }
  #logo2 {
    height: 80px;
    width: 80px;
    padding: 18px;
  }
  #logo3 {
    height: 80px;
    width: 80px;
    padding: 20px;
  }
  .bold {
    font-size: 14px;
  }
}

@media screen and (min-width: 450px) and (max-width: 489px) {
  .myname {
    padding-top: 45px;
  }
}
/*
*@ Section BigPic
*/

@media screen and (min-width: 490px) {
  #bigpic {
    padding: 10px;
  }
}

@media screen and (min-width: 550px) {
  #bigpicContent {
    flex-direction: row;
  }
  #biopic {
    max-width: 60%;
  }
  #welcome {
    max-width: 40%;
    padding: 5px;
  }
  #my-picture {
    width: 45%;
  }
  #biopic {
    padding: 0;
  }
}

@media screen and (min-width: 650px) {
    #my-picture {
    width: 35%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  #bigpic {
    background-image: image-set(url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted1200w_1x.JPG) 1x, url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted1200w_2x.JPG) 2x);
    background-image: -webkit-image-set(url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted1200w_1x.JPG) 1x, url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted1200w_2x.JPG) 2x);
  }
  #welcome {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1201px) {
  #bigpic {
    background-image: image-set(url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted1600w_1x.JPG) 1x, url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted1600w_2x.JPG) 2x);
    background-image: -webkit-image-set(url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted1600w_1x.JPG) 1x, url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/375581/200804080143cuted1600w_2x.JPG) 2x);
  }
  #my-picture {
  width: 45%;
  }
  #welcome {
    align-self: flex-end;
    padding-bottom: 15px
  }
}

/*
*@ Section Featured
    with 2 major break points:
    1) at screen width 550px (item display changes to 2 columns)
    2) at screen width 1100px (item display changes to 1 row)
*/

@media screen and (min-width: 416px) and (max-width: 549px) {
  .item-box {
    width: 60%;
  }
  .item-pic {
    width: 50vw;
  }
  .itemdisplay-pic {
    max-width: 50%;
  }
}

@media screen and (min-width: 490px) {
  a {
    font-size: 12px;
  }
}

@media screen and (min-width: 550px) {
  .displayMiddlediv {
    padding-left: 10px;
  }
  span {
    padding-left: 10px;
  }
  .displayLastdiv {
    padding-left: 10px;
  }
  .flexDisplay {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  }
}

@media screen and (min-width: 550px) and (max-width: 899px) {
  .item-pic {
    width: 40vw;
  }
}

@media screen and (min-width: 550px) and (max-width: 699px) {
  .itemdisplay-pic {
    max-width: 40%;
    padding-right: 30px;
  }
  .itemdisplay-text {
    max-width: 50%;
  }
}

@media screen and (min-width: 700px) and (max-width: 899px) {
  .itemdisplay-pic {
    max-width: 30%;
    padding: 0 45px 0 15px;
  }
  .itemdisplay-text {
    max-width: 60%;
  }
}

@media screen and (min-width: 900px) {
  .itemdisplay-pic {
    max-width: 20%;
    padding: 0 60px 0 30px;
  }
  .itemdisplay-text {
    max-width: 70%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1099px) {
  .item-pic {
    width: 30vw;
  }
}

@media screen and (min-width: 550px) and (max-width: 1099px) {
  .titleBox {
    padding-top: 20px;
  }
  .item-box {
    width: 45%;
    margin: 10px;
  }
  .displayCanvas {
  max-width: 90%;
  height: 450px;
  margin: 15px auto;
  }
}

@media screen and (min-width: 1100px) {
  .titleBox {
    padding-top: 20px;
  }
  .item-box {
    width: 20%;
  }
  .item-pic {
    width: 90%;
  }
  .displayCanvas {
  max-width: 80%;
  height: 500px;
  margin: 20px auto;
  }
  .readMoreless {
    max-width: 100%;
  }
  .closeReadmore {
    max-width: 100%;
  }
}
